  <div class="container" ng-controller="ArtistDetailCtrl">
    <div class="row">
      <div class="span10">
	<h1>{{artist.name}}</h1>
      </div>
    <div class="span2">
      <a href="#/artists">[Back to Artists]</a>
    </div>
  </div>
  <form class="form-horizontal" action="/musicapp/musiclib/playlist/saveSongs/" method="post">
   {% csrf_token %}
    <div class="row">
      <div class="span8">
	<fieldset>
	  <div class="row" ng-repeat="song in artist.songs">
	    <div class="span1">
	      <i class="icon-music"></i>
	    </div>
	    <div class="span6">
	      <a href="{{song.path}}">{{song.name}}</a>
            </div>
	    <div class="span1">
	      <input id="Sid_{{song.id}}" type="checkbox" name="playListSongs" value="{{song.id}}"/>
	    </div>
	  </div>
	</fieldset>
      </div>
      <div class="span4">
	<h3>Playlists</h3>
	<fieldset>
	  <div class="row" ng-repeat="playlist in playlists">
	    <div class="span3">
	      {{playlist.name}}
	    </div>
	    <div class="span1">
	      <input id="Pid_{{playlist.id}}" type="radio" name="playlistID" value="{{playlist.id}}"/>
	    </div>
	  </div>
	</fieldset>
	<div class="row">
	  <div class="span4">
	    <hr/>
	  </div>
	</div>
	<div class="row">
	  <div class="span2">
	  </div>
	  <div class="span2">
	    <button type="submit" class="btn btn-primary" name="addSongsToPlaylist" value="addSongsToPlaylist">Add Songs</button>
	  </div>
	</div>
      </div>
    </div>
  </form>
