<!doctype html>
<html lang="en" ng-app="myMusicLib">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="My Music Library"/>
  <meta name="author" content="JC"/>
  <title>My Music Library</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/bootstrap.css"/>
  <link rel="shortcut icon" href="img/favicon.ico"/>
  <style type="text/css">
      body {
          padding-top: 60px;
          padding-bottom: 40px;
      }
      .sidebar-nav {
          padding: 9px 0;
      }
  </style>
</head>
<body ng-controller="AuthCtrl">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
	<a class="brand" ng-href="#">My Music Library</a>
	<div class="nav-collapse collapse">
	  <ul class="nav">
	    <li class="active"><a ng-href="#">Home</a></li>
	    <li><a ng-href="#about">About</a></li>
	    <li><a ng-href="#contact">Contact</a></li>
	  </ul>
	  <form class="navbar-form pull-right" ng-submit="login()" ng-hide="loggedIn">
	    <input class="span2" type="text" placeholder="Login name" name="username" ng-model="loginName"/>
	    <input class="span2" type="password" placeholder="Password" name="password" ng-model="password"/>
	    <button type="submit" class="btn">Sign in</button>
	  </form>
	  <form class="navbar-form pull-right" ng-submit="logout()" ng-show="loggedIn">
	    <button type="submit" class="btn">Logout</button>
	  </form>
	</div> 
      </div> 
    </div>
  </div>
  <ul class="menu" ng-show="loggedIn">
    <!--li><a ng-href="#/view1">view1</a></li>
    <li><a ng-href="#/view2">view2</a></li-->
    <li><a ng-href="#/index">Welcome</a></li>
    <li><a ng-href="#/playlists">Playlists</a></li>
    <li><a ng-href="#/playlists/play/1">Play ID=1</a></li>
    <li><a ng-href="#/playlists/edit/1">Playlist ID=1</a></li>
    <li><a ng-href="#/artists">Artists</a></li>
    <li><a ng-href="#/artists/1">Artist ID=1</a></li>
    <li><a ng-href="#/users/1">Profile</a></li>
  </ul>

  <div ng-view></div>

  <footer>Version:<span app-version></span></footer>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  -->
  <script src="lib/jquery-2.0.3.min.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-resource.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
